*{
    margin: 0;
    padding: 0;
}

.botones{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.text{
border: none;
float: left;
margin-top:  10px; ;
background-color:rgb(71, 71, 71);;
}

.cuadroo{
 height: 100px;
    background-color: rgb(71, 71, 71);
    margin-top:100px ;
}
.cuadro{
    float: left;
}
.sep{
    margin-top: 276px;
}
.todo{
    border-style:dashed ;
    border-color: gray;
    height: 300px;
}

